{% extends 'base.html' %}

{% block content %}
<h2>Мои промпты</h2>
<div class="row mt-5">
    <div class="col-md-4">
        {% for prompt in prompts %}
        <div class="mb-4">
            <h3>{{ prompt.name }}</h3>
            <p>{{ prompt.text }}</p>
            <p>Пользователь: {{ prompt.user }}</p>
            <a class="btn btn-primary" href="{% url 'prompt_detail' prompt.id %}" role="button">Посмотреть</a>
            <form method="post" class="mt-2" action="{% url 'delete_prompt' prompt.id %}">
                {% csrf_token %}
                <button class="btn btn-danger">Удалить</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-8"></div>
</div>

{% endblock %}